*{
    margin:0;
    padding:20;
    box-sizing:border-box;
}
body{
    width:100%;height:100vh;/*center aa gaya 100% of viewport height*/
    display:flex;
    justify-content:center;/*horizontal align*/align-items:center;/*vertical align*/
    align-content: center;
    background:linear-gradient(45deg,black,#3a4452);
}
.bhandara{
    border:1px solid grey;
    padding:40px;
    border-radius: 16px;
    background:transparent;
    box-shadow:0px 3px 14px rgba(113,115,119,0.5);
}
input{
width:300px;border:none;
padding:24px;
margin: 15px;
font-size: 30px;
background:transparent;
text-align:right;
cursor:pointer;
color:white;
}
input::placeholder{
color:white;
}
button{
     box-shadow:-8px -8px 15px rgba(225,225,229,0.1);
    border:none;
    width:60px;
    height:60px;
    margin:10px;
    border-radius:50%;
    background:transparent;
    color:white;
    font-size:20px;
    cursor:pointer;
}
button:hover{
    background-color:rgb(64, 63, 63);
}
button:active{
    background-color:rgb(106, 101, 101);
}
.equal{
    background-color:rgb(239, 158, 8);
}
.op{
    color:green;
}

